.product-row-container{
    border: 2px solid red;
    text-align: left;
    margin-bottom: 5px;
    
}

.product-grade-bad{
    color: red;
    font-weight: bold;
}

.product-credits{
    color:green;
    font-weight: bold;
}